* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: bisque;
}

.equals {
  font-weight: bold;
  font-size: 2rem;
  color: bisque;

}